<!DOCTYPE html>
<html>
<head>
  <title>ShadchanCoIl</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <header class= "topbar">
    <div class="fill">
      <div class="container">
        <%= link_to "shadchan.co.il", '#', class: "brand" %>
          <ul class= "nav">       
            <li><%= link_to "Home", '#' %></li>
            <li><%= link_to "Help", '#'%></li>
          </ul>
      </div>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
